* {
  margin: 0px;
  padding: 0px;
}

.hero {

  background: radial-gradient(
    100% 100% at 50.7% 50%,
    rgba(26, 163, 175, 0.9) 0%,
    rgba(3, 59, 60, 0.9) 100%
  );
  /* background-image: url("../src/images/bg.jpg"); */
}
.navbar{
    background: radial-gradient(
    100% 100% at 50.7% 50%,
    rgba(26, 163, 175, 0.9) 0%,
    rgba(3, 59, 60, 0.9) 100%
  );
}
.logo img {
  width: 105px;
  height: 40px;
}
